<h1>Listing dreams</h1>

<%= link_to 'Enter a new Dream', new_dream_path %>
<hr/>


<% @dreams.each do |dream| %>

  <p>
	<h1><%= dream.dreamtitle %> </h1> is a <b> <%=Dreamtype.find_by_id(dream.dreamtype.to_i).dreamtype %> </b> dream 
	<h5><%= truncate(dream.dreamtext, :length => 75, :omission => '... (continued)') %></h5>
	<%= link_to 'Show', dream %> | 
	<%= link_to 'Edit', edit_dream_path(dream) %> |
	<%= link_to 'Destroy', dream, confirm: 'Are you sure?', method: :delete %>
  </p> 
<% end %>

<br />

